// about about-intro start
#about-intro {
  height: 400px;
  .bredcramb-area {
    padding-top: 190px;
    padding-bottom: 120px;
    padding-left: 300px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(
      90deg,
      rgba(2, 59, 166, 1) 0%,
      rgba(67, 126, 235, 1) 100%
    );
    background-color: $primary-color;
    color: #f8f9fa !important;
    text-align: center;
    .fixed-bg {
      background-image: url(/assets/img/15.png);
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
      background-repeat: no-repeat;
      background-position: center left;
      z-index: -1;
      opacity: 0.7;
    }
    h1 {
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 15px;
      line-height: 1.2;
      font-family: $main_font_family;
      font-size: 2.5rem;
      letter-spacing: 0;
      margin: 0;
    }
    .breadcrumb {
      background: transparent none repeat scroll 0 0;
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 1;
      flex-wrap: wrap;
      border-radius: 0.25rem;
      li {
        font-family: $main_font_family;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        display: inline-block;
        position: relative;
        z-index: 1;
        margin: 0 7px;
        padding: 0 7px;
        &.active {
          color: #dddddd;
          text-decoration: underline;
        }
        a {
          text-decoration: none;
          font-family: $main_font_family;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 14px;
          display: inline-block;
          color: #ffffff;
          background-color: transparent;
          &::after {
            content: "";
            font-family: "themify";
            font-weight: 600;
            color: #ffffff;
            position: absolute;
            right: -13px;
            height: 8px;
            width: 8px;
            border: 2px solid rgba(255, 255, 255, 0.7);
            border-radius: 50%;
            top: 10px;
          }
          i {
            margin-right: 5px;
            font-weight: 900;
            font-family: "Font Awesome 5 Free";
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
          }
        }
      }
    }
  }
}
// about data-solution start
#data-solution {
  height: 100vh;
  .about-area {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
    z-index: 1;
    background-color: $grey-color;
    overflow: hidden !important;
    .about-items {
      .info {
        visibility: visible;
        animation-name: fadeInLeft;
        h2 {
          display: block;
          font-weight: 700;
          margin-bottom: 25px;
          color: $title-color;
          line-height: 1.2;
          font-family: $main_font_family;
          font-size: 2rem;
          letter-spacing: 0;
          margin: 0;
        }
        p {
          color: $body-color;
          line-height: 28px;
          margin: 0 0 15px;
          text-transform: none;
          font-weight: 400;
          margin-top: 20px;
        }
        h4 {
          font-weight: 800;
          margin-top: 30px;
          margin-bottom: 15px;
          color: $title-color;
          line-height: 1.2;
          font-family: $main_font_family;
          letter-spacing: 0;
          margin: 0;
          font-size: 1.5rem;
        }
        ul {
          margin-top: 30px;
          margin: 0;
          list-style-type: none;
          li {
            display: block;
            margin-bottom: 15px;
            font-weight: 600;
            margin-top: 30px;
            span {
              display: flex;
              padding: 15px 20px;
              border: 1px solid #e7e7e7;
              border-radius: 5px;
              font-weight: 600;
              background: #ffffff;
              i {
                position: relative;
                z-index: 1;
                color: $primary-color;
                display: inline-block;
                margin-right: 25px;
                padding-left: 8px;
                font-size: 14px;
                top: 0;
                &::before {
                  position: relative;
                  top: 8px;
                }
                &::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 30px;
                  width: 30px;
                  background: #edf5ff none repeat scroll 0 0;
                  transform: rotate(45deg);
                  z-index: -1;
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
      .about-item-img {
        visibility: visible;
        padding-right: 0;
        padding-left: 35px;
        img {
          border: none;
          outline: none;
          max-width: 100%;
          vertical-align: middle;
        }
      }
    }
  }
}
